.home-page{
    width:100%;
    background-color: whitesmoke;
}

.home-page header{
    width:100%;
    position:relative;
}

.header-img{
    width:100%;
    max-height: 700px;
}

.header-text{
    position:absolute;
    display:flex;
    flex-direction: column;
    text-align: left;
    inset:0;
    align-self: center;
    padding-left:100px;
}

.header-text p{
    display:flex;
    flex-direction: row;
    gap:5px;
    font-size:20px;
}

.header-text h1{
    font-size:60px;
}


.events-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding:20px;
    max-width:1600px;
    margin:0 auto;
}

.home-page-filter{
    max-width:1400px;
    min-height:130px;
    margin:0 auto;
}

.home-page-event-count{
    color:black;
    max-width:1600px;
    text-align: start;
    margin:0 auto;
    padding:0px 20px 0px 20px;
    font-size: 13px;
}

.home-page-event-count h2{
    display:flex;
    align-items: center;
    gap:5px;
    font-weight: normal;
    color:rgb(88, 86, 83)
}

.home-page footer{
    width:100%;
    height:200px;
    border-top:1px solid rgba(0, 0, 0, 0.163);
    color:whitesmoke;
    margin-top:20px;
    background-color: rgb(90, 115, 147);
    font-weight: bold;
}

.home-page footer a{
    color:whitesmoke;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.footer-content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    max-width:1200px;
    margin:0 auto;
}

.footer-div{
    max-width:1400px;
    margin:0 auto;
}

.footer-div h2{
    text-align: left;
    font-size: 30px;
    padding-left:20px;
}

@media (max-width: 450px){
    .events-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 850px){
    .header-text{
        padding-left:0px;
        text-align: center;
        align-items: center;
        padding:20px;
    }
    .header-text h1{
        font-size:50px;
    }

    .header-text p{
        font-size:16px;
    }

    .footer-content{
        flex-direction: column;
    }

    .footer-div h2{
        text-align: center;
        padding:0;
    }
}

@media (max-width:480px){

    .header-img{
        height:400px;
        object-fit: cover;
    }
}